{% extends 'base.html.twig' %}

{% block title %}Astra - Accueil
{% endblock %}

{% block body %}
	<body class="background">

		<main>
			<div class="box-logo">
				<img src="{{ asset('images/star_white.svg') }}" class="logo" alt="Logo Astra"></div>
			<h1>Bienvenue !</h1>

			<div class="buttons">
				<a href="{{ path('app_register') }}" class="btn-register">S'inscrire</a>
				<a href="{{ path('app_login') }}" class="btn-login">Se connecter</a>
			</div>
			
		{# {% endif %} #}
			
		</main>
		<footer>&copy; Copyright 2025 - Astra</footer>

	</body>
{% endblock %}
